@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {

    --ff-primary: 'Rubik', sans-serif;

    --fs-300: .9375rem; /* 15px */
    --fs-400: 1rem; /* 16px */
    --fs-500: 1.125rem; /* 18px */
    --fs-700: 2.5rem; /* 40px */
    --fs-800: 3.5rem; /* 56px */
}